* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #FFF);
}
.weather-app {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
p {
    color: #555;
}
.weather{
    margin-top: 10px;
    font-size: 24px;
}
span {
    font-weight: bold;
    color: #FFA500;
    display: inline-block;
}
.weather-details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.weather-details div {
    width: 45%;
}
.weather-details p {
    font-size: 14px;
    color: #777;
}
.weather-details p:last-child {
    font-weight: bold;
    color: #333;
}
.temperature {
    color: #FF6347;
    margin-bottom: 10px;
}
.min-max {
    margin-bottom: 20px;
    color: #777;
}
.weather-app img{
    height: 100px;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #2d2b2b;
    background-color: rgba(240, 244, 247, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}